* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/38oAVRI-pokemon-red-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-color: red;
  max-width: 800px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  box-shadow: 3px 5px 5px 3px;
  margin-top: 80px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.poke {
  width: 200px;
  margin-bottom: 20px;
}

.nav h1 {
  margin-bottom: 20px;
}

.App {
  text-align: center;
}

img {
  width: 120px;
}

section {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 5px 5px 3px;
}

article h2 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px black solid;
  color: white;
  background-color: red;
  border-radius: 5px;
}

article {
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 159, 159, 0.856);
  padding: 10px;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px 3px;
}

article:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.2s;
  background-color: white;
}

.data {
  border: 2px red solid;
  padding: 5px;
  border-radius: 5px;
}

p {
  border: 1px black solid;
  padding: 2px;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.button {
  background-color: white;
  box-shadow: 5px 5px 10px 3px white;
  border: 2px solid red;
  color: red;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
}





