*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 50px;
    width: 80%;
    margin: 40px auto;
    background-color: rgba(230, 246, 241, 0.822);
    border-color: aqua 1px solid;
    border-radius: 5px;
}

#container {
    width: 80%;
    margin: 40px auto;
    background-color:rgba(230, 246, 241, 0.822) ;
    border-color: aqua 1px solid;
    border-radius: 5px;
    padding: 20px;
    line-height: 2;
}


#nome-completo {
    margin-bottom: 10px;
}
#input-email {
    margin-bottom: 10px;
}
