body {
    background-color: rgba(131, 131, 131, 0.719);
}

#container{
    width: 18%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    
}

h1 {
    text-align: center;
}

#entrar{
    text-align: center;
}

#entrar{
    margin-top: 10px;
    margin-bottom: 5px;
}