* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    color: white;
    padding: 20px;
    width: 1000px;
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.menu2 {
    
}

.menu-container {
    background-color: #5995da;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container{
    background-color: #d6e9fe;
    height: 300px;
    display: flex;
    justify-content: center;
}

.main-itens {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galery {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-item {
    width: 220px ;
    height: 300px;
    background-color: rgb(200, 199, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    
}

.image-container {
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img1 {
    width: 200px;
    height: 280px;
}