*{
    margin: 0;
    padding: 0;
}

/* parte 1 = header */

.header h1{
    color: rgb(2, 114, 2);
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: bolder;
}

h2{
    color:rgb(2, 128, 2);
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
}

.header{
    background-image: url(/dia03_aulavivo/sd-019-c-live-lectures/images/smiling-image.jpg);
    height: 600px;
    background-size: cover;
    background-position: 0% 25%;
    padding: 100px 200px;
}

.desc-header{
    width: 50%;
    font-size: 20px;
    margin-left: -150px;
    margin-top: -50px;
}

/*---------------------------------*/

/* parte 2 market */

.market{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;

}

/*-----------------------*/

/* parte 3 container */

.imag{
    border-radius: 100%;
    width: 120px;
}

.container{
    
    margin-bottom: 5px;
    height: 400px;
    
    
}
.tres{
    
    
    width: 60%;
    margin: auto;
    text-align: center;
}
.invidual{
    width: 25%;
    display: inline-block;
    padding: 30px;
    text-align: center;
}

/*---------------------------------------------------------

 /* parte 4 */

 .parte4{
     background-color: rgb(233, 227, 227);
     height: 600px;
 }

 .lista{
     float: left;
     margin-left: 100px;
     margin-top: 100px;
 }

 .lista li{
     padding: 20px;
     text-transform: capitalize;
 }

 .list-img{
     float: right;
     margin-right: 100px;
     margin-top: 100px;

 }

 .list-img img{
     width: 600px;
 }

 

 
    
