* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: black;
   
}

header {
    text-align: center;
    margin: 40px;
    font-size: 40px;
    color: white;
}

label, fieldset{
    color: white;
}



.container {
    width: 80%;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid grey;
    padding: 50px;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.line input[type=text] {
    width: 100%;
    padding: 2px;
}

.line input[type=radio] {
    margin-left: 10px;
}

.data-field {
    padding: 20px;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}

#resumo {
    width: 100%;
    padding: 10px;
}

#buttons {
    text-align: center;
}

.btn {
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    
}
