*{
    margin:0;
    padding: 0;
    font-family: monospace;
    
}

/*div{
    border: 2px solid red;
}*/

h1{
    font-size: 60px;
    color:red;
    text-align: center;
    
}

.desc{
    background-image: url(/arquivos/6174594.jpg);
    height: 800px;
    background-size: cover;
    background-position: 0% 25%;
    position:absolute;
    
}

.desc_text{
    color: white;
    text-align: center;
    margin: 30px 0;
    width: 50%;
    position: relative;
    left: 800px;
    top: 60px;
    
      

}

.desc_text p{
    color: white;
    text-align: center;
    margin: 100px 0;
    

}

.botao-menu{
    color: white;
    max-width: 90px;
    height: 70px;
    font-size: 30px;
    position: relative;
    left: 1139px;
    top: 54px;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;

    
}

.botao-menu:hover{
    
    color:white;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 5px 5px 2px rgb(159, 174, 194);
    border-radius: 25%;
}